body{
	font-family: 'Philosopher', sans-serif;
}
.bg{
	

  background-image: url("../img/bg.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;

}

.content-center{
	margin-top:200px;
}